<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Biceps | Triceps Workout</title>
  </head>
  <body style="background-color: rgb(37, 37, 37)">

    <style>
body {
  background-image: url('../static/images/gym1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>

    <section class="text-gray-400 rgb(37,37,37)">
      <div
        class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center"
      >
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 md:mb-0 mb-10">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/GxjWKyzMx3E"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div
          class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center"
        >
          <h1
            class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white"
          >
            Biceps | Triceps Workout <br class="hidden lg:inline-block" />
          </h1>
          <p class="mb-8 leading-relaxed">
            Most people start their biceps routine with a straight bar curl,
            arguably the best mass-building move there is for the bodypart. But
            starting there fatigues some of the smaller muscles of the arm,
            making it hard to get them to respond later in your routine and thus
            hampering long term mass gains. Although most research would argue
            against working smaller muscles first, this may be your best option
            because it stimulates all the elbow flexors and increases total
            muscle recruitment right out of the box. Remember, muscles
            eventually get bored by the same old workout. They learn to be more
            efficient, and they just flat out quit growing in the absence of new
            challenges. By working smaller muscles first in your workout, you
            burn them out and require the larger muscles to work even harder to
            recruit more muscle fibers. And while this may seem contrary to the
            physiological standards for muscle expression, continual stress
            forces continual recruitment, which should translate into greater
            strength and size gains in the long run. The below routine starts
            with a handful of 12-rep sets of hammer, cable and Scott curls to
            get your arms gassed before heading to the traditional mass-building
            straight-bar curl. The workout finishes with a strong semi-isolated
            lift—seated dumbbell curl—that will help round out your biceps peak.
            If you prefer to train your biceps on their own day, use the higher
            volume Workout 1. If you decide to add them in with other bodyparts,
            choose Workout 2, which includes half as many sets to ensure maximum
            recovery for maximal gains.
          </p>
          <div class="flex justify-center">
            <button
              class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
            >
              <a href="http://127.0.0.1:8000/">Home</a>
            </button>
            <button
              class="ml-4 inline-flex text-gray-400 bg-gray-800 border-0 py-2 px-6 focus:outline-none hover:bg-gray-700 hover:text-white rounded text-lg"
            >
              <a href="/back">Next</a>
            </button>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
