{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Fitness Freak Bangalore</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="static/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="static/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="static/assets/vendor/remixicon/remixicon.css"
      rel="stylesheet"
    />
    <link
      href="static/assets/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="/static/assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div
        class="container d-flex align-items-center justify-content-lg-between"
      >
        <h1 class="logo me-auto me-lg-0">
          <a href="/">Fitness Freak<span>.</span></a>
        </h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto active" href="/">Home</a></li>
            <li><a class="nav-link scrollto" href="/about">About</a></li>
            <li><a class="nav-link scrollto" href="/chest">Workout</a></li>
            <li><a class="nav-link scrollto" href="/products">Products</a></li>
            <li><a class="nav-link scrollto" href="/gallery">Gallery</a></li>
            <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
            <li class="dropdown">
              <a href="#"
                ><span>Memberships</span> <i class="bi bi-chevron-down"></i
              ></a>
              <ul>
                <li><a href="/join">Enroll</a></li>

                <li><a href="/chest">Workouts</a></li>

                <li><a href="/profile">View Profile</a></li>
              </ul>
            </li>

            {% if not request.user.is_authenticated %}

            <li><a class="nav-link scrollto" href="/signup">Signin</a></li>
            {% else %}
            <li><a class="nav-link scrollto" href="/logout">Logout</a></li>

            {% endif %}
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

        {% if request.user.is_authenticated %}
        <a href="/" class="get-started-btn scrollto">Welcome</a>
        {% endif %}
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center justify-content-center">
      <div class="container" data-aos="fade-up">
        <div
          class="row justify-content-center"
          data-aos="fade-up"
          data-aos-delay="150"
        >
          <div class="col-xl-6 col-lg-8">
            <h1>Start Now Stop Never <span>.</span></h1>
            <h2>Join Fitness Freak</h2>
          </div>
        </div>

        <div
          class="row gy-4 mt-5 justify-content-center"
          data-aos="zoom-in"
          data-aos-delay="250"
        >

          <div class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i class="ri-flashlight-line"></i>
              <h3><a href="/chest">Chest</a></h3>
            </div>
          </div>

          <div class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i class="ri-boxing-line"></i>
              <h3><a href="/biceps">Biceps | Triceps</a></h3>
            </div>
          </div>

          <div class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i class="ri-blaze-line"></i>
              <h3><a href="/back">Back</a></h3>
            </div>
          </div>

          <div class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i class="ri-open-arm-line"></i>
              <h3><a href="/shoulders">Shoulders</a></h3>
            </div>
          </div>
          
          <div class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i class="ri-run-line"></i>
              <h3><a href="/legs">Legs</a></h3>
            </div>
          </div>

          <div class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i class=" ri-apps-fill"></i>
              <h3><a href="/abs">Abs</a></h3>
            </div>
          </div>

          &nbsp;<div class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i class="ri-user-heart-line"></i>
              <h3><a href="/yoga">Yoga</a></h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!--Cta Section-->

      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Us</p>
          </div>

          <div class="row mt-5">
            <div class="col-lg-4">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>Benguluru, Karnataka</p>
                </div>

                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@fitnessfreak.com</p>
                </div>

                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+91 9686703521</p>
                </div>
              </div>
            </div>

            <!-- <div class="mapouter">
              <div class="gmap_canvas">
                <a href="https://mcpenation.com/">https://mcpenation.com</a>
              </div>
              <style>
                .mapouter {
                  position: relative;
                  text-align: right;
                  width: 100%;
                  height: 400px;
                }
                .gmap_canvas {
                  overflow: hidden;
                  background: none !important;
                  width: 100%;
                  height: 400px;
                }
                .gmap_iframe {
                  height: 400px !important;
                }
              </style>
            </div> -->

            <div class="col-lg-8 mt-5 mt-lg-0">
              <iframe
                class="gmap_iframe"
                width="100%"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
                src="https://maps.google.com/maps?width=400&amp;height=400&amp;hl=en&amp;q=University of bagalore&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
              ></iframe>
            </div>
            <!--<form
                action="forms/contact.php"
                method="post"
                role="form"
                class="php-email-form"
              >
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      placeholder="Your Name"
                      required
                    />
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Your Email"
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="Subject"
                    required
                  />
                </div>
                <div class="form-group mt-3">
                  <textarea
                    class="form-control"
                    name="message"
                    rows="5"
                    placeholder="Message"
                    required
                  ></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit">Send Message</button>
                </div>
              </form>
            </div> -->
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main Footer -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="footer-info">
                <h3>FITNESS FREAK<span>.</span></h3>
                <p>
                  Bangalore, Karnataka <br />
                  India<br /><br />
                  <strong>Phone:</strong> +91 9686703521<br />
                  <strong>Email:</strong> info@fitnessfreak.com<br />
                </p>
                <div class="social-links mt-3">
                  <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="#" class="facebook"
                    ><i class="bx bxl-facebook"></i
                  ></a>
                  <a href="#" class="instagram"
                    ><i class="bx bxl-instagram"></i
                  ></a>
                  <a href="#" class="google-plus"
                    ><i class="bx bxl-skype"></i
                  ></a>
                  <a href="#" class="linkedin"
                    ><i class="bx bxl-linkedin"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Home</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="/about">About us</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="/biceps">Workout</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="/products">Products</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="/gallery">Gallery</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="/contact">Contact</a>
                </li>
                <!-- <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Terms of service</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Privacy policy</a>
                </li> -->
              </ul>
            </div>

            <!-- <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Web Design</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Web Development</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Product Management</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Marketing</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Graphic Design</a>
                </li>
              </ul>
            </div> -->

            <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>Our Newsletter</h4>
              <p>Subscribe to our Newsletter</p>
              <form action="https://formspree.io/f/xnqrprby" method="post">
                <input type="email" name="email" /><input
                  type="submit"
                  value="Subscribe"
                />
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span></span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!--All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
          Designed by
          <a href="https://github.com/shibincreji"
            >Shibin C Reji && Prem Kumar J</a
          >
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="static/assets/vendor/aos/aos.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="static/assets/js/main.js"></script>
  </body>
</html>
