<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
  <style>
body {
  background-image: url('../static/images/gym1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-5xl font-medium title-font mb-4 text-white">Products</h1>
      <h3 class="text-3xl font-medium title-font mb-4 text-white">Checkout the popular Gym Supplements.</h3>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/4 md:w-1/2">
        <div class="h-full flex flex-col items-center text-center">
          <img alt="team" class="flex-shrink-0 rounded-lg w-56 h-56 object-cover object-center mb-4" src="../media/gallery/whey.jpg">
          <div class="w-full">
            <h1 class="title-font font-medium text-lg text-white"><a href="https://www.amazon.com/MuscleTech-Nitro-Tech-Peptides-Creatine-Nutrition/dp/B008IC0Z8Y/ref=sr_1_10?crid=HJVX72ERA5CO&keywords=protein+powder&qid=1663928675&sprefix=prot%2Caps%2C546&sr=8-10">Whey Protein Powder</a></h1>
            <!-- <h3 class="text-gray-500 mb-3">UI Developer</h3> -->
            <p class="mb-4 hover:text-white">This is the original for a reason – Nitro-Tech is our best-in-class, scientifically engineered whey protein formula, enhanced with the most studied form of creatine for more lean muscle, more strength and better performance..</p>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/4 md:w-1/2">
        <div class="h-full flex flex-col items-center text-center">
          <img alt="team" class="flex-shrink-0 rounded-lg w-56 h-56 object-cover object-center mb-4" src="../media/gallery/bars.jpg">
          <div class="w-full">
            <h2 class="title-font font-medium text-lg text-white"><a href="https://www.amazon.com/Gatorade-Protein-Chocolate-Caramel-protein/dp/B00T0BUAWI/ref=sr_1_5?crid=1TV6U38DZYQCY&keywords=protein%2Bbars&qid=1663929997&sprefix=proti%2Caps%2C468&sr=8-5&th=1">Gatorade Whey Protein Bars</a></h2>
            <!-- <h3 class="text-gray-500 mb-3">UI Developer</h3> -->
            <p class="mb-4 hover:text-white">The protein bar used by the NFL, NBA, NBA, and MLB is now available to you. With a mix of carbs and protein, recover whey protein bars fuel muscle recovery to help bring muscles back to life.</p>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/4 md:w-1/2">
        <div class="h-full flex flex-col items-center text-center">
          <img alt="team" class="flex-shrink-0 rounded-lg w-56 h-56 object-cover object-center mb-4" src="../media/gallery/drink.jpg">
          <div class="w-full">
            <h2 class="title-font font-medium text-lg text-white"><a href="https://www.amazon.com/Rockstar-Energy-Drink-Caffeine-Electrolytes/dp/B08P39P62Z/ref=sr_1_9?crid=41MDUD0EX7AX&keywords=energy+drink&qid=1663930405&sprefix=ener%2Caps%2C264&sr=8-9">Energy Drink with Caffeine</a></h2>
            <!-- <h3 class="text-gray-500 mb-3">UI Developer</h3> -->
            <p class="mb-4 hover:text-white">Rockstar Recovery is our only non-carbonated drink, formulated with electrolytes for taste, 100% daily dose of Vitamin B, and 160mg caffeine to help you reset for the next hustle.</p>
           
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/4 md:w-1/2">
        <div class="h-full flex flex-col items-center text-center">
          <img alt="team" class="flex-shrink-0 rounded-lg w-56 h-56 object-cover object-center mb-4" src="../media/gallery/liquid.jpg">
          <div class="w-full">
            <h2 class="title-font font-medium text-lg text-white"><a href="https://www.amazon.in/MuscleBlaze-L-Carnitine-Strength-Formula-Carnitine/dp/B09FFH8484/ref=sr_1_2_sspa?crid=3G8RJY5FEIAGV&keywords=liquid%2Bcarnitine&qid=1663931159&s=hpc&sprefix=liquid%2Bca%2Chpc%2C212&sr=1-2-spons&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzRElRRjlQQ0FKSEUzJmVuY3J5cHRlZElkPUEwNzQyMDkxM0JYWDFZSVNHQk4wWSZlbmNyeXB0ZWRBZElkPUEwMjg3ODUxMUZLQ0UzMDBGMVk1MiZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU&th=1">Liquid L-Carnitine PRO</a></h2>
            <!-- <h3 class="text-gray-500 mb-3">UI Developer</h3> -->
            <p class="mb-4 hover:text-white">L-carnitine helps in converting fat into energy by transferring fat into the mitochondria of cells, especially long-chain fatty acids.</p>
            
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center">
            
            <button
              class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
            >
              <a href="http://127.0.0.1:8000/">Home</a>
            </button>
            </div>
  </div>
</section>

</body>
</html>